@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.body {
    max-width: 1600px;
}


.section-inner {
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/first.jpeg');
    position: relative;
    background-size: cover;
    overflow: auto;
    height: 120vh;
    flex-shrink: 1;
}

.section-nav-1 {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0%;
    list-style: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    padding-top: 47px;
}

.active {
    text-decoration: underline;
    font-weight: bold;
    font-style: initial;
}

a {
    color: white;
    text-decoration: none;
    padding: 60px;
    font-style: normal;
}

.section-header-title {
    padding-top: 232px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 4.5px;
}

.section-header-subtitle {
    color: white;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    max-width: 504px;
    margin: auto;
    padding: 20px;
    line-height: 1.4;
}

.btn1 {
    background: #00AFDB;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 14px 20px;
    margin: 25px;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-header-logos {
    text-align: center;
    padding-top: 120px;
}

.btn2 {
    background: #00AFDB;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 14px 20px;
}

.section-promo {
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
    padding-bottom: 140px;
}

.promo__main {
display: flex;
}

.promo__main-img {
flex-basis: 50%;
}

.promo__main-content {
    padding-left: 150px;
    padding-right: 90px;
    flex-basis: 50%;
    align-self: center;
}

.promo__main-img {
padding-right: 100px;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
}


.imagesecond {
    width: 407px;
    height: 582px;
}

.scary {
    background-color: #F5F6F7;
    font-family: 'Roboto', sans-serif;
    max-width: 1280px;
    max-height: 504px;
    display: flex;
    overflow-x: hidden;
    width: 1260px;
    height: 504px;
}

#layer1 { 
    z-index: 2;
    justify-content: center;
    text-align: center; 
    padding-left: 100px;
}

#layer1 { 
    z-index: 1;
}

.scary_main {
    justify-content: center;
    align-self: center;
    padding-left: 200px;
}

.scary_main-img {
    text-align: center;
    margin-bottom: 20px;
}

.scary_main-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.scary_main-subtitle {
    text-align: center;
    width: 298px;
    height: 80px;
}

.scary_image {
    display: inline;
    flex-basis: 50%;
}

.scary1 {
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.scary2 {
width: 330px;
height: 190px;
padding: 5px;
margin: 0 5px;
}

.grid {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 50px;
    padding-top: 140px;
}

.implement_main {
    display: flex;
    flex-basis: 50%;
    padding-top: 120px;
    padding-bottom: 140px;
    font-family: 'Roboto', sans-serif;
}

.pixels {
    width: 407px;
    height: 582px;
    padding-left: 190px;
}

.implement_main-content {
    justify-content: center;
    padding-left: 95px;
    padding-right: 140px;
    padding-top: 215px;
}

.noidea {
    background-image: url('../img/pc.png');
    overflow: hidden;
    text-align: center;
    justify-content: center;
    max-width: 1280px;
    max-height: 550px;
    background-color: thistle;
    width: 1260px;
    height: 550px;
}

.noidea #rect {
    animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes rainbow {
    0% { background-color: blue; }
    50% { background-color: green; }
    100% { background-color: yellow; }
}

.bottom__main {
    font-family: 'Roboto', sans-serif;
    width: 1270;
    height: 464px;
    background-color: #F5F6F7;
    max-width: 1270px;
}

.buttonBA {
    display: flex;
    padding-left: 35px;
}

.first {
    margin: 5px;
    width: 170px;
    height: 46px;
    background-color: #00AFDB;
    color: white;
    border: none;
}

.second {
    margin: 5px;
    width: 170px;
    height: 46px;
    background-color: #00AFDB;
    color: white;
    border: none;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    background-image: url('./img/Combined\ shape\ 755.png');
    background-repeat: no-repeat;
    background-color: #009CC2;
    margin-right: 25px;
    margin-left: -10px;
    background-position: center;
}

.android {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    background-image: url('./img/Combined\ shape\ 761.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #009CC2;
    margin-left: -10px;
    margin-right: 25px;
}

/* .first::after {
    margin-top: 5px;
    content: url('./img/Combined\ shape\ 755.png');
}

.second::after {
    margin-top: 5px;
    content: url('./img/Combined\ shape\ 761.png');
} */
/*
.first::before {
width: 127px;
height: 46px;
background-color: black;
}

.first::after {
background-color: black;
width: 59px;
height: 46px;
} */

/* .second::after {
    background-color: #009CC2;
    width: 59px;
    height: 46px;
}

.second::before {
    width: 127px;
    height: 46px;
    background-color: #00AFDB;
} */


.bottom__main {
    justify-content: center;
    background-color: #f5f6f7;
}

.title1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding-top: 120px;
    padding-left: 530px;
}

.text1 {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 410px;
    margin: 0 5px;
    max-width: 480px;
    text-align: center;
}


.button-whole {
    display: flex;
    padding-top: 45px;
    padding-left: 450px;
}

footer {
    display: flex;
    background-color: #000000;
    width: 1260px;
    height: 160px;
}


.footer_main {
padding-top: 140px;
}

.footer_main-credits {
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
    padding: 0%;
    list-style: none;
}

.circle {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 90px;
}

.by {
    display: flex;
    justify-content: space-between;
    color: #818181;
    padding-left: 300px;
}